@import '../../styles/theme';

:host {
  display: block;
  height: 100%;
}

.wrapper {
  height: 100%;
}

nga-product-suggestion {
  margin: 16px;
}

.info__title {
  color: mat-color($nga-foreground, text);
  font-family: 'Abril Fatface', cursive;
  font-size: mat-font-size($nga-typography, display-1);
  font-weight: mat-font-weight($nga-typography, display-1);
  line-height: mat-line-height($nga-typography, display-1);
  margin: 0 0 24px;
}
