<!--
  TODO: Consider MatTabNavBar as soon as following issues are resolved:
    * https://github.com/angular/material2/issues/1967
    * https://github.com/angular/material2/issues/2177
-->
<mat-tab-group class="tabs">
  <mat-tab *ngFor="let c of categories$ | async" [label]="c | uppercase"></mat-tab>
</mat-tab-group>

<div class="grid-list-container">
  <mat-grid-list [cols]="columns$ | async" gutterSize="16">
    <mat-grid-tile class="tile" *ngFor="let product of products$ | async">
      <a class="tile__content"
         fxLayout="column"
         fxLayoutAlign="center center"
         [routerLink]="['/products', product.id]">

        <span class="tile__price-tag"
              ngClass.xs="tile__price-tag--xs">
          {{ product.price | currency:'USD':true:'.0' }}
        </span>

        <div class="tile__thumbnail"
             [ngStyle]="{'background-image': 'url(' + product.imageUrl + ')'}"></div>

        <div class="tile__title"
             ngClass.xs="tile__title--xs"
             ngClass.lg="tile__title--lg">{{ product.title }}</div>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
