@import '../../../styles/theme';

:host {
  display: block;
}

.tile {
  background-color: mat-color($nga-background, card);

  &:hover {
    @include mat-elevation(4);
    transition: .3s;
  }
}

.tile__content {
  display: block;
  height: 100%;
  width: 100%;
}

.tile__thumbnail {
  background: no-repeat 75% 75%;
  background-size: contain;
  height: 75%;
  width: 75%;
}
